@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
  margin-bottom: 5px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.footer {
  background-color: #eeeeee;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #636363; 
}

/* - Do not add the margin-bottom property to img selector
   - Do not add the margin-bottom property to input selector
     instead put a gap property to .content selector
   - Do not make li selector with padding property instead
     put a gap property to ul selector and put a 16px padding
     to header and footer selector instead of 5px */
   
   